/*
______ _            _   ______
| ___ \ |          | |  |  _  \
| |_/ / | __ _  ___| | _| | | |___   ___
| ___ \ |/ _` |/ __| |/ / | | / _ \ / __|
| |_/ / | (_| | (__|   <| |/ / (_) | (__
\____/|_|\__,_|\___|_|\_\___/ \___/ \___|

 *
 * Designed, built, and released under MIT license by @karloespiritu.
 */

/*
 * Contents
 *
 * Global resets
 * Sidebar
 * Container
 * Reverse layout
 * Themes
 * Scrollbar
 */

/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

 html {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
  }
  
  body {
    color: #848482;
    background-color: #000000;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'EB Garamond', serif;
    color: #aaa;
  }
  
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    font-family: 'EB Garamond', serif;
    color: #50585d;
    font-kerning: auto;
    font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
    font-synthesis: weight style;
  }
  
  a {
    color: #ffeb99;
    transition: color ease 0.3s;
  }
  
  a:hover {
    color: #caad00;
  }
  
  .btn {
    display: inline-block;
    padding: .25rem 1rem;
    font-family: "PT Sans", sans-serif;
    color: #ebcb8b;
    border: .1rem solid #32343c;
    border-radius: .1rem;
  }
  
  .btn:hover,
  .btn:focus {
    color: #26282d;
    background-color: #ebcb8b;
    border-color: #ebcb8b;
  }
  
  strong,
  b {
    color: #848471;
  }
  /* Code */
  
  code {
    color: #993030;
    white-space: pre-wrap;
    background-color: #222;
  }
  
  pre {
    background-color: #222;
  }
  
  pre {
    white-space: pre;
    overflow: auto !important;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: rgba(235, 242, 246, 0.29) 1px solid;
    margin: 1.2em 0;
    padding: 0;
  }
  
  blockquote {
    color: #666;
    border-left: .25rem solid #333;
  }
  
  td,
  th {
    padding: .25rem .5rem;
    border: 1px solid #333;
  }
  
  tbody tr:nth-child(odd) td,
  tbody tr:nth-child(odd) th {
    background-color: #222;
  }
  
  /* Pagination items can be `span`s or `a`s */
  .pagination-item {
    border: 1px solid #444;
  }
  
  @media (min-width: 48em) {
    html {
      font-size: 16px;
    }
  }
  @media (min-width: 58em) {
    html {
      font-size: 20px;
    }
  }
  
  /*
   * Messages
   *
   * Show alert messages to users. You may add it to single elements like a `<p>`,
   * or to a parent if there are multiple elements to show.
   */
  
  .message {
    color: #bbb;
    background-color: #333;
  }
  
  /* Gist */
  .gist-data {
    background-color: #222 !important;
    border-bottom: 1px solid #333 !important;
  }
  .gist .markdown-body {
    color: #999 !important;
  }
  
  .gist .markdown-body pre {
    background-color: #111 !important;
  }
  
  .gist-file {
    border: 1px solid #333 !important;
  }
  
  .gist-meta {
    background-color: #222 !important;
  }
  /*
   * Sidebar
   *
   * Flexible banner for housing site name, intro, and "footer" content. Starts
   * out above content in mobile and later moves to the side with wider viewports.
   */
  
  .sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, .5);
    background-color: #000;
    overflow: auto;
  }
  @media (min-width: 48em) {
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 18rem;
      text-align: left;
    }
  }
  
  /* Sidebar links */
  .sidebar a {
    color: #caad00;
  }
  
  /* About section */
  .sidebar-about h1 {
    color: #caad00;
    margin-top: 0;
    font-family: 'Noto Serif', serif;
    font-size: 2.25rem;
  }
  
  /* Sidebar nav */
  .sidebar-nav {
    margin-bottom: 1rem;
  }
  .sidebar-nav-item {
    display: block;
    line-height: 1.75;
  }
  a.sidebar-nav-item:hover,
  a.sidebar-nav-item:focus {
    text-decoration: underline;
  }
  .sidebar-nav-item.active {
    font-weight: bold;
  }
  
  /* Sticky sidebar
   *
   * Add the `sidebar-sticky` class to the sidebar's container to affix it the
   * contents to the bottom of the sidebar in tablets and up.
   */
  
  @media (min-width: 48em) {
    .sidebar-sticky {
      /*    position: absolute;*/
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
    }
  }
  
  /* Container
   *
   * Align the contents of the site above the proper threshold with some margin-fu
   * with a 25%-wide `.sidebar`.
   */
  
  .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  @media (min-width: 48em) {
    .content {
      max-width: 95%;
      margin-left: 18rem;
      margin-right: 0rem;
    }
  }
  
  @media (min-width: 64em) {
    .content {
      margin-left: 18rem;
      margin-right: 0rem;
    }
  }
  
  /*
   * Posts and pages
   *
   * Each post is wrapped in `.post` and is used on default and post layouts. Each
   * page is wrapped in `.page` and is only used on the page layout.
   */
  
  /* Blog post or page title */
  .page-title,
  .post-title,
  .post-title a {
    color: #caad00;
  }
  
  /*
   * Reverse layout
   *
   * Flip the orientation of the page by placing the `.sidebar` on the right.
   */
  
  @media (min-width: 48em) {
    .layout-reverse .sidebar {
      left: auto;
      right: 0;
    }
    .layout-reverse .content {
      margin-left: 2rem;
      margin-right: 20rem;
    }
  }
  
  @media (min-width: 64em) {
    .layout-reverse .content {
      margin-left: 4rem;
      margin-right: 22rem;
    }
  }
  
  /*
   * Themes
   *
   * BlackDoc includes optional themes to color the sidebar and links
   * within blog posts. To use, add the class of your choosing to the `body`.
   */
  
  /* Base16 (http://chriskempson.github.io/base16/#default) */
  
  /* Red */
  .theme-base-08 .sidebar {
    background-color: #ac4142;
  }
  .theme-base-08 .content a,
  .theme-base-08 .related-posts li a:hover {
    color: #ac4142;
  }
  
  /* Orange */
  .theme-base-09 .sidebar {
    background-color: #d28445;
  }
  .theme-base-09 .content a,
  .theme-base-09 .related-posts li a:hover {
    color: #d28445;
  }
  
  /* Yellow */
  .theme-base-0a .sidebar {
    background-color: #f4bf75;
  }
  .theme-base-0a .content a,
  .theme-base-0a .related-posts li a:hover {
    color: #f4bf75;
  }
  
  /* Green */
  .theme-base-0b .sidebar {
    background-color: #90a959;
  }
  .theme-base-0b .content a,
  .theme-base-0b .related-posts li a:hover {
    color: #90a959;
  }
  
  /* Cyan */
  .theme-base-0c .sidebar {
    background-color: #75b5aa;
  }
  .theme-base-0c .content a,
  .theme-base-0c .related-posts li a:hover {
    color: #75b5aa;
  }
  
  /* Blue */
  .theme-base-0d .sidebar {
    background-color: #6a9fb5;
  }
  .theme-base-0d .content a,
  .theme-base-0d .related-posts li a:hover {
    color: #6a9fb5;
  }
  
  /* Magenta */
  .theme-base-0e .sidebar {
    background-color: #aa759f;
  }
  .theme-base-0e .content a,
  .theme-base-0e .related-posts li a:hover {
    color: #aa759f;
  }
  
  /* Brown */
  .theme-base-0f .sidebar {
    background-color: #8f5536;
  }
  .theme-base-0f .content a,
  .theme-base-0f .related-posts li a:hover {
    color: #8f5536;
  }
  
  /* Thin Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-button {
    width: 8px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #333;
    border: thin solid #111;
    /*box-shadow: 0px 0px 3px #111 inset;*/
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #222;
    border: thin solid #222;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
  }
  