{% macro render_blog_post(post, from_index=false) %}
<div class="post">
  {% if from_index %}
  <h1 class="post-title"><a href="{{ post|url }}">{{ post.title }}</a></h1>
  {% else %}
  <h1 class="post-title">{{ post.title }}</h1>
  {% endif %}
  <span class="post-date">{{ post.pub_date }}</span>
  {{ post.body }}
</div>
{% endmacro %}