<!doctype html>
<html lang="en-us">

<head>
  <!-- Sorry dear readers, I will add GA for now until I set up a piwik instance -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154000512-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-154000512-1');
  </script>
  <!-- end of GA section -->
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/poole.css">
  <link rel="stylesheet" href="/static/css/syntax.css">
  <link rel="stylesheet" href="/static/css/blackdoc.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <!-- Icons -->
  <link rel="icon" type="image/x-icon" href="/static/favicon/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/favicon/grumpy-cat-152-193726.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/favicon/grumpy-cat-144-193726.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/static/favicon/grumpy-cat-120-193726.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/favicon/grumpy-cat-114-193726.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/favicon/grumpy-cat-72-193726.png">
  <link rel="apple-touch-icon-precomposed" href="/static/favicon/grumpy-cat-57-193726.png">
  <link rel="icon" href="/static/favicon/grumpy-cat-32-193726.png" sizes="32x32">

  <title>{% block title %}broken title{% endblock %} @ {{ config.values['PROJECT']['name'] }}</title>
</head>

<body class="layout-reverse">
  <div class="content container">
    {% include "sidebar.html" %}
    <div class="page">
      {% block body %}{% endblock %}
    </div>

    &copy; Copyright 2019-2021 by Theocharis Ledakis.
  </div>
</body>

</html>