<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/'|url }}">
          {{ config.values['PROJECT']['name'] }}
        </a>
      </h1>
      <p class="lead"><i>{{ config.values['PROJECT']['description'] }}</i></p>
    </div>

    <nav class="sidebar-nav">
      <a
        class="sidebar-nav-item{% if this._path == '/' %} active{% endif %}"
        href="{{ '/'|url }}"
        >Home</a
      >
      {% for href, title in [ ['/blog', 'Blog'], ['/notes', 'Notes'], ['/about', 'About'] ] %}
      <a
        class="sidebar-nav-item{% if this.is_child_of(href) %} active{% endif %}"
        href="{{ href|url }}"
        >{{ title }}</a
      >
      {% endfor %}
      <hr />
      <a
        class="sidebar-nav-item"
        href="https://twitter.com/tledakis"
        target="_blank"
        >Lets talk on Twitter</a
      >
    </br>
      <a
        class="sidebar-nav-item"
        href="https://files.ledakis.com/cv.pdf"
        target="_blank"
        >cv</a
      >
    </nav>
  </div>
</div>
